body {
    background-color: #ffffff;
}

h3{
    color: black;
    margin-left: 20px;
    text-align: center;
    font-family: Tahoma, Verdana, sans-serif;
}

button{
    padding: 1px;
    color: #009999;
    margin-left: 20px;
    text-align: center;
    font-family: Tahoma, Verdana, sans-serif;
}

a{
    color: #009999;
    margin-left: 20px;
    text-align: center;
    font-family: Tahoma, Verdana, sans-serif;
}

img{
    position: absolute;
    height: 150px;
    width: 150px;
}